body {
  margin: 20px;
  font-size: 200%;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

#input, #fractions, section {
  border: solid 1px grey;
  padding: 1em;
  margin: 1em;
}

.modulo {
  color: red;
  font-weight: bold;
}

/*#input {
  margin-bottom:1em;
}
#fractions {
  display:flex;
  align-items: left;
}
#step1{
  width:2em;
  text-align:center;
}
#step2{
  width:13em;
  display:flex;
  flex-direction: row;
}
#step2 > div{
  padding:0 0.5rem;
}
.top {
  border-bottom: solid 2px;
}
#wholes, #arrow {
  display:flex;
  flex-direction: row;
  align-items:center;
}
#wholes {  font-size:2em; }
#parts {
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:space-between;
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
